/* variables */

:root {
  --color-white: #fff;
  --color-base: #434455;
  --color-base-dark: #2e2f42;
  --color-base-light: #f4f4fd;
  --color-gray-light: #e7e9fc;
  --color-gray-dark: #8e8f99;
  --color-accent: #4d5ae5;
  --color-accent-dark: #404bbf;

  --font-family: 'Roboto', sans-serif;

  --text-size: 16px;
  --text-line-height: 1.5;
  --text-font-weight: 400;
  --text-letter-spacing: 0.02em;
  --text-color: var(--color-base);

  --h-color: var(--color-base-dark);
  --h-font-weight: 700;
  --h-text-transform: capitalize;
  --h-sm-font-weight: 500;

  --h1-size: 56px;
  --h1-line-height: 1.07;

  --h2-size: 36px;
  --h2-line-height: 1.11;

  --h3-size: 20px;
  --h3-line-height: 1.2;

  --bg-color: var(--color-white);

  --logo-font-family: 'Raleway', sans-serif;
  --logo-font-weight: 700;
  --logo-font-size: 18px;
  --logo-line-height: 1.17;
  --logo-letter-spacing: 0.03em;
  --logo-color: var(--color-accent);

  --radius: 4px;

  --btn-font-weight: 500;
  --btn-line-height: 1.5;
  --btn-letterspacing: 0.04em;
  --btn-shadow: 0px 4px 4px 0px #00000026;

  --card-shadow:
    0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);

  --col-3: calc((100% - 2 * 24px) / 3);
  --col-4: calc((100% - 3 * 24px) / 4);
}

/*containers */

body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  font-weight: var(--text-font-weight);
  font-size: var(--text-size);
  line-height: var(--text-line-height);
  letter-spacing: var(--text-letter-spacing);
  color: var(--text-color);
  font-optical-sizing: auto;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

.section-inverted {
  background-color: var(--color-base-light);
}

/*lists*/

.nav-list,
.list-feature,
.list-card,
.list-card-portfolio,
.list-social-links,
.footer-social-links{
  display: flex;
  justify-content: space-between;
  gap: 24px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-feature .list-feature-item,
.list-card .list-card-item {
  width: var(--col-4);
}

.list-card-portfolio {
  flex-wrap: wrap;
  row-gap: 48px;
  text-align: left;
}

.list-card-portfolio-item {
  width: var(--col-3);
}

.list-social-links {
  justify-content: center;
  margin-top: 8px;
}

.list-social-links-item,
.list-footer-social-links-item{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: var(--color-accent);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-social-links-item:hover{
  background-color: var(--color-accent-dark);
}
.list-social-links-item:focus{
  background-color: var(--color-accent-dark);
}

/* typography */

.text {
  margin: 0;
}

.title-lg,
.title-md,
.title-sm {
  margin: 0;
  font-weight: var(--h-font-weight);
  color: var(--h-color);
  letter-spacing: var(--text-letter-spacing);
}

.title-lg {
  margin-bottom: 48px;
  font-size: var(--h1-size);
  line-height: var(--h1-line-height);
}

.title-md {
  margin-bottom: 72px;
  font-size: var(--h2-size);
  line-height: var(--h2-line-height);
  text-transform: var(--h-text-transform);
  text-align: center;
}

.title-sm {
  margin-bottom: 8px;
  font-size: var(--h3-size);
  font-weight: var(--h-sm-font-weight);
  line-height: var(--h3-line-height);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*images*/

img {
  display: block;
  width: 100%;
}

/*logo*/

.header-logo,
.footer-logo {
  display: inline-block;
  margin-right: 76px;
  font-family: var(--logo-font-family);
  font-weight: var(--logo-font-weight);
  font-size: var(--logo-font-size);
  line-height: var(--logo-line-height);
  letter-spacing: var(--logo-letter-spacing);
  color: var(--logo-color);
  text-decoration: none;
  text-transform: uppercase;
}

.header-logo-highlight {
  color: var(--color-base-dark);
}

.footer-logo-highlight {
  color: var(--color-white);
}

/*header*/

.header {
  border-bottom: 1px solid var(--color-gray-light);
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container,
.nav-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  line-height: var(--text-line-height);
  letter-spacing: var(--text-letter-spacing);
  color: var(--color-base-dark);
  text-decoration: none;
  font-style: normal;
  transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-active {
  position: relative;
  color: var(--color-accent-dark);
}

.nav-link-active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--color-accent-dark);
}

.nav-link-contact {
  font-weight: var(--text-font-weight);
  color: var(--color-base);
}

.nav-link:hover,
.nav-link:active {
  color: var(--color-accent-dark);
}

.nav-link:focus {
  color: var(--color-accent-dark);
}

address {
  font-style: normal;
}

/*buttons*/

a,
button {
  cursor: pointer;
}

.btn {
  padding: 16px 32px;
  background-color: var(--color-accent);
  border: none;
  font-weight: var(--btn-font-weight);
  color: var(--color-white);
  font-family: var(--font-family);
  line-height: var(--btn-line-height);
  letter-spacing: var(--btn-letterspacing);
  box-shadow: var(--btn-shadow);
  border-radius: var(--radius);
}

.btn:hover {
  background-color: var(--color-accent-dark);
}

.btn:focus {
  outline: none;
  background-color: var(--color-accent-dark);
}

/* hero */

.section-hero {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background-color: var(--color-base-dark);
  text-align: center;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.section-hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.7);
}

.section-hero .container {
  position: relative;
}

.section-hero .title-lg {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  color: var(--color-white);
}

.section-hero .btn {
  display: block;
  min-width: 169px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* card */

.list-card-item,
.list-card-portfolio-item {
  background-color: var(--color-white);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-card-item {
  border-radius: 0 0 var(--radius) var(--radius);
  box-shadow: var(--card-shadow);
}

.list-card-portfolio-item-body {
  position: relative;
  overflow: hidden;
}

.list-card-item-footer {
  padding: 32px 0;
  text-align: center;
}

.list-card-portfolio-item-footer {
  padding: 32px 16px;
  border-right: 1px solid var(--color-gray-light);
  border-bottom: 1px solid var(--color-gray-light);
  border-left: 1px solid var(--color-gray-light);
}

.list-card-portfolio-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
  padding: 40px 32px;
  background: var(--color-accent);
  color: var(--color-base-light)
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.list-card-portfolio-item:hover{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-card-portfolio-item:hover .list-card-portfolio-overlay {
  top: 0;
  transform: translateY(0);
  opacity: 1;
}

/*icon*/
.icon {
  width: 64px;
  height: 64px;
}

.feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  padding: 24px 0;
  background-color: var(--color-base-light);
  border-radius: var(--radius);
  border: 1px solid var(--color-gray-dark);
}

.icon-social {
  fill: var(--color-base-light);
}

/* footer */
.footer {
  padding: 100px 0;
  background-color: var(--color-base-dark);
  font-weight: var(--text-font-weight);
  color: var(--color-base-light);
}

.footer .container {
  display: flex;
  align-items: baseline;

}

.footer-text {
  max-width: 264px;
  margin-right: 120px
}

.footer-links .text {
  margin-bottom: 16px;
  font-weight: var(--h-sm-font-weight);
  color: var(--color-white);
}

.footer-social-links {
  gap: 16px;
}

.list-footer-social-links-item:hover,
.list-footer-social-links-item:focus{
  background-color: #31d0aa;
}

.footer .footer-logo {
  margin-bottom: 16px;
}

.footer .logo span {
  color: var(--color-base-light);
}

/*helpers*/

.hidden {
  display: none;
}
