/* variables */

:root {
  --color-white: #fff;
  --color-base: #434455;
  --color-base-dark: #2e2f42;
  --color-base-light: #f4f4fd;
  --color-gray-light: #e7e9fc;
  --color-gray-dark: #8e8f99;
  --color-accent: #4d5ae5;
  --color-accent-dark: #404bbf;

  --font-family: 'Roboto', sans-serif;

  --text-size-sm: 12px;
  --text-sm-line-height: 1.16;

  --text-size: 16px;
  --text-line-height: 1.5;
  --text-font-weight: 400;
  --text-letter-spacing: 0.02em;
  --text-color: var(--color-base);

  --h-color: var(--color-base-dark);
  --h-font-weight: 700;
  --h-text-transform: capitalize;
  --h-sm-font-weight: 500;

  --h1-size: 36px;
  --h1-line-height: 1.1;

  @media (min-width: 768px) {
    --h1-size: 56px;
    --h1-line-height: 1.07;
  }

  --h2-size: 36px;
  --h2-line-height: 1.11;

  --h3-size: 20px;
  --h3-line-height: 1.2;

  --bg-color: var(--color-white);

  --logo-font-family: 'Raleway', sans-serif;
  --logo-font-weight: 700;
  --logo-font-size: 18px;
  --logo-line-height: 1.17;
  --logo-letter-spacing: 0.03em;
  --logo-color: var(--color-accent);

  --radius: 4px;

  --btn-font-weight: 500;
  --btn-line-height: 1.5;
  --btn-letterspacing: 0.04em;
  --btn-shadow: 0px 4px 4px 0px #00000026;

  --border-color: rgba(46, 47, 66, 0.4);

  --card-shadow:
    0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);

  --col-2: calc((100% - 24px) / 2);
  --col-3: calc((100% - 2 * 24px) / 3);
  --col-4: calc((100% - 3 * 24px) / 4);

  --tablet: 768px;
  --desktop: 1158px;
}

* {
  box-sizing: border-box;
}
/*containers */

body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  font-weight: var(--text-font-weight);
  font-size: var(--text-size);
  line-height: var(--text-line-height);
  letter-spacing: var(--text-letter-spacing);
  color: var(--text-color);
  font-optical-sizing: auto;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 96px 0;
}
@media (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}

.section-inverted {
  background-color: var(--color-base-light);
}

@media (min-width: 768px) {
  .section-inverted .container {
    max-width: 584px;
  }
}

@media (min-width: 1158px) {
  .section-inverted .container {
    max-width: 1158px;
  }
}

/*lists*/

.nav-list,
.address-list,
.list-feature,
.list-card,
.list-card-portfolio,
.list-social,
.footer-social {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mobile-address-list {
  list-style-type: none;
  margin: 0 0 48px;
  padding: 0;
}

.address-list {
  flex-direction: column;
  gap: 0;
  padding: 11px 0;
}
@media (min-width: 1158px) {
  .address-list {
    padding: 0;
  }
}

.list-feature,
.list-card,
.list-card-portfolio {
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 72px;
}

@media (min-width: 768px) {
  .list-card {
    row-gap: 64px;
  }
  .list-feature .list-feature-item,
  .list-card .list-card-item {
    width: var(--col-2);
  }
}

@media (min-width: 1158px) {
  .list-feature,
  .list-card,
  .list-card-portfolio {
    flex-wrap: nowrap;
  }

  .list-feature .list-feature-item,
  .list-card .list-card-item {
    width: var(--col-4);
  }
}

.list-card-portfolio {
  flex-wrap: wrap;
  row-gap: 48px;
  text-align: left;
}

.list-card-portfolio-item {
  width: 100%;
}
@media (min-width: 768px) {
  .list-card-portfolio-item {
    width: var(--col-2);
  }
}
@media (min-width: 1158px) {
  .list-card-portfolio-item {
    width: var(--col-3);
  }
}

.list-social {
  justify-content: flex-start;
  margin-top: 8px;
  gap: 24px;
}
.list-card-item-footer .list-social {
  justify-content: center;
}

.list-social-item-link,
.footer-social-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: var(--color-accent);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-social-item-link:hover {
  background-color: var(--color-accent-dark);
}
.list-social-item-link:focus {
  background-color: var(--color-accent-dark);
}

/* typography */

.text {
  margin: 0;
}

.title-lg,
.title-md,
.title-sm {
  margin: 0;
  font-weight: var(--h-font-weight);
  color: var(--h-color);
  letter-spacing: var(--text-letter-spacing);
}

.title-lg {
  margin-bottom: 72px;
  font-size: var(--h1-size);
  line-height: var(--h1-line-height);
}
@media (min-width: 768px) {
  .title-lg {
    margin-bottom: 48px;
  }
}

.title-md {
  margin-bottom: 72px;
  font-size: var(--h2-size);
  line-height: var(--h2-line-height);
  text-transform: var(--h-text-transform);
  text-align: center;
}

.title-sm {
  margin-bottom: 8px;
  font-size: var(--h3-size);
  font-weight: var(--h-sm-font-weight);
  line-height: var(--h3-line-height);
}

.list-feature-item .title-sm {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
}
@media (min-width: 768px) {
  .list-feature-item .title-sm {
    text-align: left;
  }
}
@media (min-width: 1158px) {
  .list-feature-item .title-sm {
    font-size: var(--h3-size);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*images*/

img {
  display: block;
  width: 100%;
}

/*logo*/

.logo,
.logo-inverted {
  display: inline-block;
  font-family: var(--logo-font-family);
  font-weight: var(--logo-font-weight);
  font-size: var(--logo-font-size);
  line-height: var(--logo-line-height);
  letter-spacing: var(--logo-letter-spacing);
  color: var(--logo-color);
  text-decoration: none;
  text-transform: uppercase;
}

.logo-highlight {
  color: var(--color-base-dark);
}

.logo-inverted-highlight {
  color: var(--color-white);
}

/*header*/

address {
  font-style: normal;
}

.header {
  position: relative;
  border-bottom: 1px solid var(--color-gray-light);
  box-shadow:
    0 2px 1px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 1px 6px rgba(46, 47, 66, 0.08);
}

.header .logo {
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.burger-icon {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 16px;
  height: 14px;
}

.burger-line {
  background-color: #2f2f37;
  height: 2px;
  width: 100%;
}

.nav-list-desktop {
  display: none;
}

.address-desktop {
  display: none;
}

.nav-link,
.address-link {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: var(--text-size);
  font-weight: var(--h-sm-font-weight);
  line-height: var(--text-line-height);
  letter-spacing: var(--text-letter-spacing);
  color: var(--color-base-dark);
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link {
  font-size: var(--text-size-sm);
  line-height: var(--text-sm-line-height);
  font-weight: var(--text-font-weight);
  font-style: normal;
  color: var(--color-base);
}

@media (min-width: 1158px) {
  .address-link {
    font-size: var(--text-size);
    line-height: var(--text-line-height);
  }
}

.mobile-nav-sidebar-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--color-gray-light);
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-sidebar-close:hover,
.mobile-nav-sidebar-close:focus {
  background-color: var(--color-accent-dark);
  border: none;
}

.mobile-nav-sidebar-close:hover .icon,
.mobile-nav-sidebar-close:focus .icon {
  fill: var(--color-white);
}

.mobile-nav-sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background-color: var(--color-white);
  padding: 72px 16px 40px;
  z-index: 1;
}
@media (min-width: 768px) {
  .mobile-nav-sidebar {
    display: none; /* Hide the sidebar on wider screens */
  }
}

.mobile-nav {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  list-style-type: none;
  padding: 0;
}

.mobile-nav-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-nav-link {
  display: block;
  color: var(--text-color);
  font-size: var(--h2-size);
  font-weight: var(--h-font-weight);
  text-decoration: none;
}

.mobile-nav-link-active {
  color: var(--color-accent);
}

.mobile-address-link {
  display: block;
  padding: 12px 0;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-color);
  text-decoration: none;
}

.mobile-nav-sidebar.is-open {
  left: 0;
}

@media (min-width: 768px) {
  .header .container,
  .nav-list {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .nav-list-desktop {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .address-desktop {
    display: flex;
    flex-direction: row;
  }
  .burger-icon {
    display: none;
  }
  .nav-link {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media (min-width: 1158px) {
  .address-list {
    flex-direction: row;
    gap: 40px;
  }
  .address-link {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .nav-list-desktop {
    position: initial;
    top: auto;
    left: auto;
    transform: none;
  }

  .nav {
    justify-content: flex-start;
  }
}

/*links*/

.nav-link-active {
  position: relative;
  color: var(--color-accent-dark);
}

.nav-link-active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--color-accent-dark);
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.address-link:active,
.address-link:hover,
.address-link:focus,
.mobile-nav-link:hover,
.mobile-nav-link:active,
.mobile-nav-link:focus {
  color: var(--color-accent-dark);
}

/*buttons*/

a,
button {
  cursor: pointer;
}

.btn,
.btn-s {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  background-color: var(--color-accent);
  border: none;
  font-weight: var(--btn-font-weight);
  color: var(--color-white);
  font-family: var(--font-family);
  line-height: var(--btn-line-height);
  letter-spacing: var(--btn-letterspacing);
  box-shadow: var(--btn-shadow);
  border-radius: var(--radius);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-s {
  padding: 8px 24px;
}

.btn:hover,
.btn-s:hover {
  background-color: var(--color-accent-dark);
}

.btn:focus,
.btn-s:focus {
  outline: none;
  background-color: var(--color-accent-dark);
}

.link {
  color: var(--color-accent);
}

/* hero */

.section-hero {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 72px 0;
  background-color: var(--color-base-dark);
  text-align: center;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/mob-hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-resolution: 2x) {
  .section-hero {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/mob-hero-bg@2x.jpg);
  }
}

@media (min-width: 768px) {
  .section-hero {
    padding: 112px 0;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/tab-hero-bg.jpg);
  }
}
@media (min-width: 768px) and (min-resolution: 2x) {
  .section-hero {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/tab-hero-bg@2x.jpg);
  }
}

@media (min-width: 1158px) {
  .section-hero {
    padding: 188px 0;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/desk-hero-bg.jpg);
  }
}
@media (min-width: 1158px) and (min-resolution: 2x) {
  .section-hero {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/desk-hero-bg@2x.jpg);
  }
}

.section-hero .container {
  position: relative;
}

.section-hero .title-lg {
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
  color: var(--color-white);
}
@media (min-width: 768px) {
  .section-hero .title-lg {
    max-width: 496px;
  }
}

.section-hero .btn {
  display: block;
  min-width: 169px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* card */

.list-card-item,
.list-card-portfolio-item {
  background-color: var(--color-white);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-card-item {
  border-radius: 0 0 var(--radius) var(--radius);
  box-shadow: var(--card-shadow);
  width: 100%;
}

.list-card-portfolio-item-body {
  position: relative;
  overflow: hidden;
}

.list-card-item-footer {
  padding: 32px 0;
  text-align: center;
}

.list-card-portfolio-item-footer {
  padding: 32px 16px;
  border-right: 1px solid var(--color-gray-light);
  border-bottom: 1px solid var(--color-gray-light);
  border-left: 1px solid var(--color-gray-light);
}

.list-card-portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
  padding: 40px 32px;
  background: var(--color-accent);
  color: var(--color-base-light);
  opacity: 0;
  transform: translateY(100%); /* Starts off-screen */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-card-portfolio-item:hover {
  box-shadow:
    0 1px 6px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 2px 1px rgba(46, 47, 66, 0.08);
}

.list-card-portfolio-item:hover .list-card-portfolio-overlay {
  transform: translateY(0); /* Slide up */
  opacity: 1; /* Make it visible */
}

/*icon*/

.feature-icon {
  display: none;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  padding: 24px 0;
  background-color: var(--color-base-light);
  border-radius: var(--radius);
  border: 1px solid var(--color-gray-dark);
}
@media (min-width: 1158px) {
  .feature-icon {
    display: flex;
  }
}

.icon-social {
  fill: var(--color-base-light);
}

/*modal*/

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: var(--radius);
  max-width: 288px;
  width: 100%;
  padding: 72px 24px 24px 24px;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.14),
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 2px 1px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .modal {
    max-width: 408px;
  }
}

.modal-close,
.mobile-nav-sidebar-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--color-gray-light);
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close .icon,
.mobile-nav-sidebar-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus,
.mobile-nav-sidebar-close:hover,
.mobile-nav-sidebar-close:focus {
  background-color: var(--color-accent-dark);
  border: none;
}

.modal-close:hover .icon,
.modal-close:focus .icon,
.mobile-nav-sidebar-close:hover .icon,
.mobile-nav-sidebar-close:focus .icon {
  fill: var(--color-white);
}

.modal .text {
  font-weight: var(--h-sm-font-weight);
  text-align: center;
  color: var(--color-base-dark);
  margin-bottom: 16px;
}

.form-modal .btn {
  display: block;
  min-width: 169px;
  margin: 0 auto;
  align-self: center;
}

/*form*/

.form-group {
  margin-bottom: 8px;
}

.form-group:nth-last-of-type(1) {
  margin-bottom: 0;
}

.form-group + .btn {
  margin-top: 24px;
}

.form-group:nth-last-of-type(2) {
  margin-bottom: 16px;
}

.input,
.textarea,
.input-inverted {
  display: block;
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid var(--border-color);
  border-radius: var(--radius);
  background-color: transparent;
  font-size: var(--text-size);
  line-height: 1.17;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.04em;
}

.textarea {
  height: 120px;
  font-size: var(--text-size-sm);
  color: rgba(46, 47, 66, 0.4);
  resize: none;
}

.textarea:focus {
  border-color: var(--color-accent);
}

.input-inverted {
  border: 1px solid var(--color-white);
  color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.input::placeholder,
.textarea::placeholder,
.input-inverted::placeholder {
  font-family: var(--font-family);
  font-size: var(--text-size-sm);
  color: rgba(46, 47, 66, 0.4);
  line-height: var(--text-sm-line-height);
}

.input-inverted::placeholder {
  color: var(--color-white);
}

.input:focus {
  outline: none;
  border-color: var(--color-accent);
}
.form-label {
  display: block;
  margin-bottom: 4px;
  font-family: var(--font-family);
  font-size: var(--text-size-sm);
  line-height: 1.17;
  color: var(--color-gray-dark);
  letter-spacing: 0.04em;
}

.input-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.input-wrapper .input {
  padding-left: 38px;
}

.input-wrapper .icon {
  position: absolute;
  left: 16px;
  top: 50%;
  height: 24px;
  width: 18px;
  transform: translateY(-50%);
  pointer-events: none;
  margin: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--text-color);
}

.input:focus + .icon {
  fill: var(--color-accent);
}

/*checkbox*/

.checkbox-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-gray-dark);
  cursor: pointer;
}

.checkbox-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  fill: transparent;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
  display: none;
}

.checkbox-input:checked + .checkbox-label .checkbox-box {
  background-color: var(--color-accent-dark);
  border: none;
  fill: #f4f4fd;
}

.checkbox-input:checked + .checkbox-label .icon {
  display: initial;
}

/* footer */

.footer {
  padding: 96px 0;
  background-color: var(--color-base-dark);
  font-weight: var(--text-font-weight);
  color: var(--color-base-light);
}

.footer .container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .footer .container {
    max-width: 584px;
  }
}
@media (min-width: 1158px) {
  .footer .container {
    max-width: 1158px;
  }
}

.footer .logo-inverted {
  margin-bottom: 16px;
}
@media (min-width: 1158px) {
  .footer .logo-inverted {
    margin-bottom: 0;
  }
}

.footer-text {
  text-align: center;
  margin-bottom: 72px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 72px;
}

.footer-contacts {
  text-align: center;
}

@media (min-width: 768px) {
  .footer-text {
    max-width: 264px;
    margin-right: 24px;
    text-align: left;
  }

  .footer-links {
    max-width: 208px;
    align-items: flex-start;
  }

  .footer-contacts {
    text-align: left;
  }
}

@media (min-width: 1158px) {
  .footer-text {
    margin-right: 120px;
  }

  .footer-links {
    margin-right: 80px;
    margin-bottom: 0;
  }
}

.footer-text .text {
  text-align: left;
}

.footer-links .text,
.footer-contacts .text {
  margin-bottom: 16px;
  font-weight: var(--h-sm-font-weight);
  color: var(--color-white);
}

.footer-social {
  gap: 16px;
}

.footer-social-item-link:hover,
.footer-social-item-link:focus {
  background-color: #31d0aa;
}

.form-footer {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .form-footer {
    flex-wrap: nowrap;
  }
}

.form-footer .input-inverted {
  width: 288px;
  font-size: var(--text-size-sm);
  line-height: 2;
  letter-spacing: 0.04em;
}
@media (min-width: 768px) {
  .form-footer .input-inverted {
    width: 264px;
  }
}

.form-footer .icon {
  fill: var(--color-white);
  width: 24px;
  height: 20px;
  margin-left: 16px;
}

.form-footer .btn-s {
  min-width: 165px;
  height: 40px;
}

.footer .footer-logo {
  margin-bottom: 16px;
}

.footer .logo span {
  color: var(--color-base-light);
}

/*helpers*/

.hidden {
  display: none;
}
